<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v.show.backend.biz.user.mapper.TaskMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_title, short_title, intro_key, merge_title_key, task_icon, task_condition, draw_condition, task_type, task_target, task_level, task_intro, task_action_title, task_action, is_series, task_tag, max_number, parent_id, cycle, start_date, end_date, distribution_type, risk_type, pass_type, sort, draw_need_auth, created_at, created_by, updated_at, updated_by, deleted_at
    </sql>

    <select id="getTaskById" resultType="v.show.backend.biz.user.vo.TaskQueryVo">
        select
        <include refid="Base_Column_List"/>
        from task where id = #{id}
    </select>

    <select id="getTaskPageList" parameterType="v.show.backend.biz.user.param.TaskPageParam" resultType="v.show.backend.biz.user.vo.TaskQueryVo">
        select
        <include refid="Base_Column_List"/>
        from task
    </select>

</mapper>
